{% extends '::base.html.twig' %}

{% block body -%}
    
    <h1>Evento</h1>
<form method="post" action="{{ path('evento_escolhido')}}">
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ entity.nome }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ entity.data|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Atracao</th>
                <td>{{ entity.atracao }}</td>
            </tr>
            <tr>
                <th>Local</th>
                <td>{{ entity.local }}</td>
            </tr>
            <tr>
                <th>Precocadeira</th>
                <td>{{ entity.precoCadeira }}</td>
            </tr>
            <tr>
                <th>Precoingresso</th>
                <td>{{ entity.precoIngresso }}</td>
            </tr>
            {% for mesa in entity.getMesa %}
            <tr>
                <th>Mesa</th>
                <td>{{ mesa.numeroMesa }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>
                    Quantidade
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Subtotal
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="number" id="qtdMesa" name="qtdMesa" min="0" max="316" />
                </td>
                <td>
                    Mesas - <span id="precoMesa"></span><br />
                    ( <span id="qtdMesaTotal"></span> mesa(s) + <span id="qtdIngressoMesa"></span> ingresso(s) )
                </td>
                <td>
                    <span id="subtotalMesa">R$ <span id="vlrMesa">0,00</span></td>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="number" id="qtdIngresso" name="qtdIngresso" min="0" max="1000" />
                </td>
                <td>
                    Ingressos Avulsos - <span id="precoIngresso"></span>
                </td>
                <td>
                    <span id="subtotalIngresso">R$ <span id="vlrIngresso">0,00</span></td>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td>Subtotal: R$ <span id="total">0,00</span></td>
            </tr>
        </tfoot>
    </table>
    <input type="submit" value="Escolher pagamento"></input>
</form>
        <ul class="record_actions">
    <li>
        <a href="{{ path('evento') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('evento_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
</ul>

<div>
    <span>Mesas selecionadas</span>
    <span class="contaMesa">0</span>
</div>

<table class="mapa">

    <!-- LINHA 0 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 1 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="201" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="152" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="150" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="101" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="100" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="1" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="48" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="49" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="250" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 2 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="200" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="153" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="149" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="102" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="99" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="2" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="47" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="50" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="249" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 3 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="199" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="154" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="148" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="103" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="98" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="3" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="46" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="51" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="248" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 4 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="198" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="155" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="147" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="104" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="97" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="4" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="45" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="52" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="247" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 5 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="197" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="156" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="146" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="105" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="96" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="5" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="44" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="53" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="246" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="254" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa"></td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="297" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 6 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="196" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="157" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="145" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="106" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="95" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="6" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="43" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="54" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="245" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="256" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="289" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="299" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 7 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="196" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="157" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="145" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="106" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="95" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="6" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="43" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="54" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="245" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="256" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="288" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="300" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 8 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="195" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="158" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="144" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="107" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="94" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="7" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="42" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="55" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="244" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="257" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="300" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 9 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 10 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 11 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 12 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 13 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 14 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 15 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 16 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 17 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 18 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 19 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 20 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 21 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td><td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 22 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="179" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="174" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="128" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="20" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="21" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="22" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="23" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="24" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="25" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="26" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="27" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="28" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="29" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="229" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="271" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="278" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="316" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 23 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="178" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="175" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="127" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="80" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="79" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="78" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="77" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="76" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="75" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="74" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="73" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="72" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="71" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="70" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="69" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 24 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="177" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="176" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 25 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 26 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="203" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="204" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="205" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="206" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="207" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="208" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="209" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="210" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="211" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="212" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="213" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="214" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="215" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="parede">|</td>
    </tr>

    <!-- LINHA 27 -->
    <tr>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="228" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="227" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="226" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="225" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="224" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="223" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="222" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="221" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="220" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="219" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="218" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="217" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa">
            <a href="javascript:">
                 <img id="C000" class="C000" alt="216" src="{{ asset('bundles/core/imagens/mesa_disponivel.png') }}" />
            </a>
        </td>
        <td class="mesa"></td>
        <td class="parede">|</td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="mesa"></td>
        <td class="parede">|</td>
    </tr>
</table>

<script>
    $(document).ready(function(){

        $("#qtdMesa").val(0);
        $("#qtdIngresso").val(0);
        $("#precoMesa").text({{ entity.precoCadeira * 100 }}).priceFormat({
                                                                prefix: "R$ ",centsSeparator: ',',thousandsSeparator: '.'});
        $("#precoIngresso").text({{ entity.precoIngresso * 100}}).priceFormat({
                                                                prefix: "R$ ",centsSeparator: ',',thousandsSeparator: '.'});

        contaMesa = 0;
        $(".C000").click(function(){
            if(this.src.indexOf("disponivel") > -1 || this.src.indexOf("hover") > -1){
                this.src = "{{ asset('bundles/core/imagens/mesa_selecionada.png') }}";
                contaMesa += 1;
                console.log(this.alt);
                $(".contaMesa").text(contaMesa);
            }
            else {
                this.src = "{{ asset('bundles/core/imagens/mesa_disponivel.png') }}";
                contaMesa -= 1;
                $(".contaMesa").text(contaMesa);
            }
        });

        $(".C000").hover(function(){
            if(this.src.indexOf("disponivel") > -1)
                this.src = "{{ asset('bundles/core/imagens/mesa_hover.png') }}";
            },function(){
                if(this.src.indexOf("hover") > -1)
                    this.src = "{{ asset('bundles/core/imagens/mesa_disponivel.png') }}";
        });

        $("#qtdMesa").change(function(){
            $("#qtdMesaTotal").text($("#qtdMesa").val());
            $("#qtdIngressoMesa").text(parseInt($("#qtdMesa").val()) * 4);

            $("#vlrMesa").text((parseInt(($("#qtdMesa").val()) * {{ entity.precoCadeira * 100}}) + (parseInt($("#qtdMesa").val()) * 4) * {{ entity.precoIngresso * 100}}) ).priceFormat({
                                                                clearPrefix: true,
                                                                centsSeparator: ',',
                                                                thousandsSeparator: '.'
                                                            });

            $("#total").text(calculaTotal()).priceFormat({
                                                                clearPrefix: true,
                                                                centsSeparator: ',',
                                                                thousandsSeparator: '.'
                                                            });
        });

        $("#qtdIngresso").change(function(){
            $("#vlrIngresso").text((parseInt($("#qtdIngresso").val()) * {{ entity.precoIngresso }} * 100)).priceFormat({
                                                                clearPrefix: true,
                                                                centsSeparator: ',',
                                                                thousandsSeparator: '.'
                                                            });


            $("#total").text(calculaTotal()).priceFormat({
                                                                clearPrefix: true,
                                                                centsSeparator: ',',
                                                                thousandsSeparator: '.'
                                                            });
        });
});
</script>

{% endblock %}
{% block script %}
    
{% endblock %}