{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Evento</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ entity.nome }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ entity.data|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Atracao</th>
                <td>{{ entity.atracao }}</td>
            </tr>
            <tr>
                <th>Local</th>
                <td>{{ entity.local }}</td>
            </tr>
            <tr>
                <th>Precocadeira</th>
                <td>{{ entity.precoCadeira }}</td>
            </tr>
            <tr>
                <th>Precoingresso</th>
                <td>{{ entity.precoIngresso }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('evento') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('evento_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
