table {
    margin: 0;
    padding: 0;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}

.mapa{
	width: 80%;
	border-collapse: collapse;
    border-spacing: 0;
}

.mesa{
	height: 28px;
	width: 28px;
	padding-right: 2px;
	padding-left: 2px;
}

.parede{
	text-align: center;
	height: 28px;
	width: 28px;
	font-weight: bold;
	font-size: 32px;
}

.pista{
	height: 28px;
	width: 35%;
}