<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/core/js/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/core/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/core/js/funcoes.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/core/js/jquery.price_format.2.0.min.js') }}"></script>
            
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/css/base.css') }}" />
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}

        {% endblock %}
        

        {% block script %}
        {% endblock %}
    </body>
</html>
