{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Email</th>
                <th>Cpf</th>
                <th>Rg</th>
                <th>Nome</th>
                <th>Datanascimento</th>
                <th>Sexo</th>
                <th>Ddd</th>
                <th>Telefone</th>
                <th>Cep</th>
                <th>Logradouro</th>
                <th>Numero</th>
                <th>Complemento</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Uf</th>
                <th>Newsletter</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('usuario_show', { 'email': entity.email }) }}">{{ entity.email }}</a></td>
                <td>{{ entity.cpf }}</td>
                <td>{{ entity.rg }}</td>
                <td>{{ entity.nome }}</td>
                <td>{% if entity.dataNascimento %}{{ entity.dataNascimento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.sexo }}</td>
                <td>{{ entity.ddd }}</td>
                <td>{{ entity.telefone }}</td>
                <td>{{ entity.cep }}</td>
                <td>{{ entity.logradouro }}</td>
                <td>{{ entity.numero }}</td>
                <td>{{ entity.complemento }}</td>
                <td>{{ entity.bairro }}</td>
                <td>{{ entity.cidade }}</td>
                <td>{{ entity.uf }}</td>
                <td>{{ entity.newsletter }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('usuario_show', { 'email': entity.email }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('usuario_edit', { 'email': entity.email }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('usuario_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
