{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Cpf</th>
                <td>{{ entity.cpf }}</td>
            </tr>
            <tr>
                <th>Rg</th>
                <td>{{ entity.rg }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ entity.nome }}</td>
            </tr>
            <tr>
                <th>Datanascimento</th>
                <td>{{ entity.dataNascimento|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ entity.sexo }}</td>
            </tr>
            <tr>
                <th>Ddd</th>
                <td>{{ entity.ddd }}</td>
            </tr>
            <tr>
                <th>Telefone</th>
                <td>{{ entity.telefone }}</td>
            </tr>
            <tr>
                <th>Cep</th>
                <td>{{ entity.cep }}</td>
            </tr>
            <tr>
                <th>Logradouro</th>
                <td>{{ entity.logradouro }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ entity.numero }}</td>
            </tr>
            <tr>
                <th>Complemento</th>
                <td>{{ entity.complemento }}</td>
            </tr>
            <tr>
                <th>Bairro</th>
                <td>{{ entity.bairro }}</td>
            </tr>
            <tr>
                <th>Cidade</th>
                <td>{{ entity.cidade }}</td>
            </tr>
            <tr>
                <th>Uf</th>
                <td>{{ entity.uf }}</td>
            </tr>
            <tr>
                <th>Newsletter</th>
                <td>{{ entity.newsletter }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('usuario') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('usuario_edit', { 'email': entity.email }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
